@model CmsShoppingCart.Models.ViewModels.Pages.PageVM

@{
    ViewBag.Title = ViewBag.PageTitle;
    TempData["PageTitle"] = ViewBag.PageTitle;
}

@Html.Raw(Model.Body)

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Satyaprakash Carousel</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

@*<h2 style="background-color: Yellow;color: Blue; text-align: center; font-style: oblique">Satyaprakash's Image Carousel</h2>*@
<fieldset>
    @*<legend style="font-family:Arial Black;color:blue">Company Founder Using Image Carousel</legend>*@
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="imageCarousel" class="carousel slide" data-interval="3000"
                     data-ride="carousel" data-pause="hover" data-wrap="true">

                    <ol class="carousel-indicators">
                        <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#imageCarousel" data-slide-to="1"></li>
                        <li data-target="#imageCarousel" data-slide-to="2"></li>
                        <li data-target="#imageCarousel" data-slide-to="3"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="/shop/product-details/arroz-con-pollo">
                                <img src="~/Content/carucel/arroz.jpg" class="img-responsive">
                            </a>
                                <div class="carousel-caption">
                                    <h3></h3>
                                <p style="font-weight: bold; color:whitesmoke;font-size:medium">Arroz con Pollo</p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="/shop/product-details/casado">
                                <img src="~/Content/carucel/casado.jpg" class="img-responsive">
                            </a>
                            <div class="carousel-caption">
                                <h3></h3>
                                <p style="font-weight: bold; color:whitesmoke;font-size:medium">Casado</p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="/shop/product-details/chifrijo">
                                <img src="~/Content/carucel/chifrijo.jpg" class="img-responsive">
                            </a>
                            <div class="carousel-caption">
                                <h3></h3>
                                <p style="font-weight: bold; color:whitesmoke;font-size:medium">Chifrijo</p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="/shop/product-details/chorreadas">
                                <img src="~/Content/carucel/chorreadas.jpg" class="img-responsive">
                            </a><div class="carousel-caption">
                                <h3></h3>
                                <p style="font-weight: bold; color:whitesmoke;font-size:medium">Chorreadas</p>
                            </div>
                        </div>
                    </div>

                    <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#imageCarousel" class="carousel-control right" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</fieldset>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>  